node_modules/*
dist/*
src/app/vendor/*
src/app/docs/*
src/sdk/vendor/*
src/sdk/api/environment/com.octabits.starfish.min.js
src/sdk/api/environment/com.octabits.starfish.js
src/validation/vendor/*
src/validation/dist/*
src/mapengine/worldwind/test/*
src/mapengine/worldwind/worldwind.js
src/mapengine/worldwind/worldwind.min.js
test/vendor/*
test/dist/*
Gruntfile.js
webpack.*
