.coordinateWindow {
    background-color: rgba(0, 0, 0, 0.8);
    color: darkorange;
    font-weight: 400;
    width: 280px;
    z-index: 10000000;
}

.dragHandle {
    background-color: rgba(146, 178, 229, 0.5);
    color:aliceblue;
    cursor: move;
    padding-left: 2px;
}

.coordIconButton {
    float: right;
    padding-top: 4px;
    color: aliceblue;
}

.coordIconButton:hover {
    color: aliceblue;
}

.coordIconButton:active {
    color: #999aa0;
}
